button {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 54px;
    box-shadow: none;
    border-radius: 0;
    height: 75px;
    width: 75px;
    background: white;
    border: 1px solid grey;
    font-family: sans-serif;
    line-height: 0;
}

.ttt-row.selected button{
    background-color: cornflowerblue;
}
